* {
  margin: 0;
  padding: 0;
  border: 0;
}


#main-container {
  background-color: rgb(216, 169, 99);
  display: flex;
  flex-wrap: wrap;
}

#web-header {
  height: 7vh;
  background-color: rgb(190, 52, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
}

#web-header h1 {
  color: gold;
}

.header-menu-icon {
  position: absolute;
  left: 5px;
  margin-left: 10px;
  font-size: 30px;
}

.main-container-item-menu {
  display: none;
}

.main-container-item-content {
  width: 100vw;
  background-color: rgb(237, 242, 243);
}

.content-section-subtitle-container {
  background-color: rgb(111, 186, 211);
  margin: 15px;
  padding: 20px;
}

.content-section-imagentext-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content-imagentext-container {
  background-color: rgb(248, 245, 215);
  margin-bottom: 2rem;
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 1s;
}

.content-imagentext-container:hover {
  transform: scale(1.05);
  border: 1px solid gold;
}

.content-imagentext-container>div{
  width: 100%;
  height: 100%;
}

.content-imagentext-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .content-imagentext-container p {
  margin-top: 5px;
} */

#web-footer {
  height: 7vh;
  background-color: rgb(190, 52, 52);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#web-footer h2 {
  color: gold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-section-imagentext-container{
    justify-content: space-evenly;
  }

  .content-imagentext-container {
    width: 35vw;
  }

  #web-header {
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
  }

  .web-header-title {
    display: flex;
    margin-left: 50px;
  }

  .header-menu-icon {
    position: absolute;
    left: 5px;
    margin-left: 10px;
    font-size: 30px;
  }

  #web-footer {
    justify-content: left;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #main-container {
    height: auto;
    display: flex;
    align-items: flex-start;
  }

  .main-container-item-content {
    margin-left: 8rem;
    flex: 1;
    height: auto;
  }

  .content-imagentext-container {
    width: 25vw;
  }

  .main-container-item-menu {
    position: fixed;
    left: 0;
    display: flex;
    width: 8rem;
    background-color: rgb(216, 169, 99);
  }

  .web-header-title {
    display: flex;
    margin-left: 10px;
  }

  .header-menu-icon {
    display: none !important;
  }

  .container-menu-text {
    margin-left: 10px;
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #web-footer {
    justify-content: right;
  }
}