* {
  margin: 0;
  padding: 0;
  border: 0;
}


#main-container {
  background-color: rgb(21, 255, 0);
  display: flex;
  flex-wrap: wrap;
}

#web-header {
  top: 0;
  height: 7vh;
  background-color: rgb(190, 52, 52);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: sticky;
  gap: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 100;
}

#web-header h1 {
  color: rgb(219, 188, 10);
}

.container-header-text {
  display: none;
}

.header-menu-icon {
  cursor: pointer;
  left: 5px;
  margin-left: 10px;
  font-size: 30px;
}

.header-menu-icon:hover {
  color: gold;
}

.main-container-item-menu {
  display: none;
}

.main-container-item-content {
  width: 100vw;
  background-color: rgb(237, 242, 243);
}

.content-section-subtitle-container {
  background-color: rgb(111, 186, 211);
  margin: 15px;
  padding: 20px;
  border-radius: 1rem;
}

.content-section-imagentext-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content-imagentext-container {
  border-radius: 1rem;
  background-color: rgb(250, 249, 231);
  margin-bottom: 2rem;
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 1s;
}

.content-imagentext-container.cymbals {
  flex-direction: row-reverse;
}

.content-imagentext-container.sticks {
  flex-direction: row;
}

.content-imagentext-container.extras {
  flex-direction: column-reverse;
}

.content-imagentext-container:hover {
  transform: scale(1.05);
  border: 1px solid gold;
}

.content-imagentext-container>div {
  width: 100%;
  height: 100%;
}

.content-imagentext-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#web-footer {
  width: 100vw;
  padding: 0.5rem;
  background-color: rgb(190, 52, 52);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#github-icon {
  color: black;
  font-size: 2.45rem;
}

#github-icon:hover {
  color: gold;
}

#instagram-icon {
  color: black;
  font-size: 2.5rem;
}

#instagram-icon:hover {
  color: gold;
}

#form-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
}

.footer-form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(218, 101, 101);
  border-radius: 1rem;
  width: auto;
}

.form-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.form-question label {
  width: 5rem;
}

.form-question input {
  border-radius: 0.25rem;
}

.question-frame-div {
  display: flex;
  flex-direction: column;
}

.question-frame-div input {
  border-radius: 0.75rem;
  height: 1.6rem;
  padding: 5px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.send-button {
  border-radius: 1rem;
  padding: 5px;
  cursor: pointer;
}

.send-button:hover {
  font-weight: bold;
}

#reset-local-storage {
  border-radius: 0.25rem;
  padding: 5px;
  cursor: pointer;
}

#reset-local-storage:hover {
  font-weight: bold;
  background-color: red;
}

.warning {
  color: gold;
  font-weight: bold;
}

.request-card-container {
  gap: 2rem;
}

.request-card-container ul {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  background-color: rgb(218, 101, 101);
  border-radius: 12px;
  width: auto;
}

#request-cards li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(170, 252, 225);
  list-style: none;
  padding: 7px;
  border-radius: 0.5rem;
}

.edit-button{
  cursor: pointer;
}

.edit-button:hover{
  font-weight: bold;
  background-color: darkseagreen;
  transition: 0.5s;
}

.delete-button{
  cursor: pointer;
}

.delete-button:hover{
  font-weight: bold;
  background-color: rgb(185, 3, 3);
  transition: 0.5s;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-section-imagentext-container {
    justify-content: space-evenly;
  }

  .content-imagentext-container {
    width: 35vw;
  }

  #web-header {
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
  }

  .web-header-title {
    display: flex;
    margin-left: 10px;
  }

  .header-menu-icon {
    display: none !important;
  }

  .container-header-text {
    margin-left: 10px;
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .container-header-text h2 {
    color: rgb(216, 169, 99);
  }

  #form-cards-container {
    display: flex;
    flex-direction: row;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #main-container {
    height: auto;
    display: flex;
    align-items: flex-start;
  }

  .main-container-item-content {
    margin-left: 8rem;
    flex: 1;
    height: auto;
  }

  .content-imagentext-container {
    width: 25vw;
  }

  .main-container-item-menu {
    position: fixed;
    display: flex;
    background-color: rgb(216, 169, 99);
  }

  .web-header-title {
    display: flex;
    margin-left: 10px;
  }

  .container-header-text {
    display: none;
  }

  .container-menu-text {
    margin-left: 10px;
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #form-cards-container {
    justify-items: left;
  }
}